<div class="register_cont">
  <form [formGroup]="signinForm">
    <div class="form-field">
      <label for="email" class="form-field-label">Email</label>
      <input
        type="email"
        name="email"
        id="email"
        class="form-field-input"
        placeholder="example@gmail.com"
        formControlName="email"
      />
    </div>
    <div class="form-field">
      <label for="password" class="form-field-label">Password</label>
      <input
        type="password"
        name="password"
        id="password"
        class="form-field-input"
        placeholder="********"
        formControlName="password"
      />
    </div>
    <mat-error *ngIf="hasErrors" class="error">
      <span>
        {{ hasErrors }}
      </span>
    </mat-error>
    <button
      [disabled]="!signinForm.valid || isLogging"
      (click)="onSignIn()"
      class="signin-btn"
    >
      <span> Sign In{{ isLogging ? "..." : null }}</span>
      <mat-spinner
        *ngIf="isLogging"
        mode="indeterminate"
        diameter="25"
        class="spinner"
      ></mat-spinner>
    </button>
    <a class="signup-link" href="/forgot-password">Forgot password?</a>
    <p class="no-account-text">
      Don't have an account?
      <a class="signup-link" href="/signup">Sign up now</a>
    </p>
  </form>
</div>
