.site-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

nav {
  background-color: var(--sign_BGcolor);
  width: 100%;
}

.navbar {
  max-width: 1440px;
  display: flex;
  margin: 0 auto;
  padding: 0.25rem 4rem;
  justify-content: space-between;
  align-items: center;
}

.navbar .Homepage {
  height: 50px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.navbar .Homepage .logo {
  width: 100%;
  object-fit: contain;
}

.navbar ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.navbar ul li .nav-link .user {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.3rem 0.2rem 0.3rem 1rem;
}

.navbar ul li .nav-link .user::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 3px;
  border-radius: 1rem;
  background-color: var(--navbar_links__color_hovered);
  transition: 0.25s linear;
}

.navbar ul li .nav-link .user:hover::before {
  width: 100%;
}

.navbar ul li .nav-link .user .user-name {
  font-weight: 500;
  font-size: 1rem;
  text-transform: capitalize;
}

.navbar ul li .nav-link .user .user-img {
  display: flex;
  align-items: center;
  justify-self: center;
  border-radius: 50%;
  overflow: hidden;
}

.navbar ul li .nav-link .user .user-img img {
  width: 30px;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.navbar ul li.sign-btns a.btn {
  position: relative;
  height: fit-content;
  font-size: 1rem;
  text-decoration: none;
  color: var(--navbar_links__color);
  border: 1px solid var(--sign_btn_color);
  color: var(--sign_btn_color);
  overflow: hidden;
  transition: all 0.2s;
  transition-delay: 0.1s;
  z-index: 1;
}

.navbar ul li.sign-btns a.btn:hover {
  color: var(--sign_BGcolor);
}

.navbar ul li.sign-btns a.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  z-index: -1;
  background-color: var(--sign_btn_color);
  transition: 0.3s ease-in-out;
  transition-delay: 0.1s;
}

.navbar ul li.sign-btns a.btn:hover::before {
  width: 100%;
}

.navbar ul li .nav-link {
  all: unset;
  font-weight: 500;
  font-size: 1.1rem;
  color: var(--navbar_links__color);
  cursor: pointer;
  position: relative;
  transition: 0.2s linear;
}

.navbar ul li .nav-link::before {
  content: "";
  position: absolute;
  top: 100%;
  width: 0;
  height: 3px;
  border-radius: 1rem;
  background-color: var(--navbar_links__color_hovered);
  transition: 0.25s linear;
}

.navbar ul li .nav-link:hover {
  color: var(--navbar_links__color_hovered);
}

.navbar ul li .nav-link:hover::before {
  width: 100%;
}

.navbar ul li .nav-link.activeLink {
  color: var(--navbar_links__color_hovered);
  position: relative;
}

.navbar ul li .nav-link.activeLink::before {
  content: "";
  position: absolute;
  top: 100%;
  width: 100%;
  height: 3px;
  border-radius: 1rem;
  background-color: var(--navbar_links__color_hovered);
  transition: 0.25s linear;
}

.navbar ul li .add-btn {
  all: unset;
  font-size: 0.95rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0.4rem;
  padding: 0.4rem 0.8rem;
  border-radius: 0.8rem;
  background-color: var(--navbar_links__color_hovered);
  color: var(--sign_BGcolor);
  filter: hue-rotate(-5deg);
  transition: 0.15s linear;
}

.navbar ul li .add-btn .mat-icon {
  transform: scale(0.9);
}

.navbar ul li .add-btn:hover {
  filter: brightness(1.02);
}

.navbar ul li .add-btn:active {
  transform: scale(0.97);
}

.navbar ul li .nav-link.activeLink .user .user-name {
  position: relative;
}

.navbar ul li .nav-link.activeLink .user::before {
  content: "";
  position: absolute;
  top: 100%;
  width: 100%;
  height: 3px;
  border-radius: 1rem;
  background-color: var(--navbar_links__color_hovered);
  transition: 0.25s linear;
}
.navbar ul li select {
  padding: 0.05rem 0.125rem;
  outline: none;
  border: 1px solid var(--sign_btn_color);
  border-radius: 0.3rem;
  color: var(--sign_btn_color);
}
.sign-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

main {
  flex: 1;
  position: relative;
  height: 100%;
}

.footer_content {
  width: 100%;
  background-color: #252525;
  color: #aaa;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  gap: 1rem;
  z-index: +1;
}

.footer_content h3 {
  font-size: 1.25rem;
  color: #aaa;
}

.footer_content div {
  height: 60px;
}

.footer_content .footer-logo {
  object-fit: cover;
  width: 100px;
  height: 100%;
  filter: brightness(0.8);
}
