<nav>
  <div class="navbar">
    <div class="Homepage">
      <img
        routerLink="/"
        class="logo"
        src="/assets/full-logo.svg"
        alt="Versalo"
      />
    </div>
    <ul>
      <li *ngIf="activeRoute === '/signup'">
        <a routerLink="signin">Sign In</a>
      </li>
      <li *ngIf="activeRoute === '/signin'">
        <a routerLink="signup">Sign up</a>
      </li>
      <li *ngIf="activeRoute === '/'">
        <a (click)="logOut()" routerLink="signin">Log out</a>
      </li>
    </ul>
  </div>
</nav>
<br />
<br />
<br />
<br />
<router-outlet></router-outlet>
