<nav>
  <div class="navbar">
    <div class="Homepage">
      <img
        routerLink="/"
        class="logo"
        src="/assets/full-logo.svg"
        alt="Versalo"
      />
    </div>
    <ul>
      <li>
        <a
          class="nav-link"
          routerLink=""
          routerLinkActive="activeLink"
          [routerLinkActiveOptions]="{ exact: true }"
          >Home</a
        >
      </li>
      <li>
        <a class="nav-link" routerLink="about" routerLinkActive="activeLink"
          >About</a
        >
      </li>
      <li>
        <a class="nav-link" routerLink="cars" routerLinkActive="activeLink"
          >Cars</a
        >
      </li>
      <li>
        <a class="nav-link" routerLink="profile" routerLinkActive="activeLink"
          >Profile</a
        >
      </li>
      <li class="sign-btns">
        <a
          *ngIf="
            !isLogged &&
            (activeRoute === '/signup' ||
              (activeRoute !== '/signup' && activeRoute !== '/signin'))
          "
          class="btn"
          (click)="signIn()"
          >Sign In</a
        >
        <a
          *ngIf="
            !isLogged &&
            (activeRoute === '/signin' ||
              (activeRoute !== '/signup' && activeRoute !== '/signin'))
          "
          class="btn"
          (click)="signUp()"
          >Sign up</a
        >
        <a *ngIf="isLogged" class="btn" (click)="logOut()">Log out</a>
      </li>
    </ul>
  </div>
</nav>
<main>
  <router-outlet></router-outlet>
</main>
<div class="footer_content">
  <h3>© 2023</h3>
  <div>
    <img src="../assets/full-logo.svg" alt="#" />
  </div>
</div>
