<div class="site-wrapper">
  <nav [ngClass]="isNavBarDroped ? 'active' : 'inactivenavbar'">
    <div class="navbar">
      <div class="Homepage">
        <img
          routerLink="/"
          class="logo"
          src="/assets/full-logo.svg"
          alt="Versalo"
        />
      </div>
      <ul>
        <li>
          <a
            class="button"
            (click)="uploadLink()"
            routerLinkActive="activeLink"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <div class="add-btn">
              <mat-icon>add_circle</mat-icon>{{ "Upload" | translate }}
            </div>
          </a>
        </li>
        <li>
          <a
            class="nav-link"
            routerLink=""
            routerLinkActive="activeLink"
            [routerLinkActiveOptions]="{ exact: true }"
            >{{ "Home" | translate }}</a
          >
        </li>
        <li>
          <a
            class="nav-link"
            routerLink="about"
            routerLinkActive="activeLink"
            >{{ "About" | translate }}</a
          >
        </li>
        <li>
          <a class="nav-link" routerLink="cars" routerLinkActive="activeLink">{{
            "Cars" | translate
          }}</a>
        </li>
        <li *ngIf="isLogged">
          <a
            class="nav-link"
            routerLink="profile"
            routerLinkActive="activeLink"
          >
            <div class="user">
              <span *ngIf="!isLoading && user" class="user-name">
                {{ user.userName }}
              </span>
              <span
                *ngIf="!isLoading && user && !user.userName"
                class="user-name"
              >
                {{ "Unknown" }}
              </span>
              <mat-spinner
                *ngIf="isLoading"
                mode="indeterminate"
                diameter="20"
                class="spinner"
              >
              </mat-spinner>
              <span class="user-img">
                <img
                  [src]="user?.userImageUrl || '/assets/user-icon.svg'"
                  alt="{{ user?.userName }}"
                />
              </span>
            </div>
          </a>
        </li>
        <li class="sign-btns">
          <a
            *ngIf="
              !isLogged &&
              (activeRoute === '/signup' ||
                (activeRoute !== '/signup' && activeRoute !== '/signin'))
            "
            class="btn"
            (click)="signIn()"
            >{{ "Sign_In" | translate }}</a
          >
          <a
            *ngIf="
              !isLogged &&
              (activeRoute === '/signin' ||
                (activeRoute !== '/signup' && activeRoute !== '/signin'))
            "
            class="btn"
            (click)="signUp()"
            >{{ "Sign_up" | translate }}</a
          >
          <a *ngIf="isLogged" class="btn" (click)="logOut()">{{
            "Sign_out" | translate
          }}</a>
        </li>
        <li>
          <!-- <select
            name="language"
            [(ngModel)]="lang"
            (ngModelChange)="selectedLang($event)"
          >
            <option value="en">En</option>
            <option value="ge">ქარ</option>
          </select> -->
          <mat-select
            [(ngModel)]="lang"
            (ngModelChange)="selectedLang($event)"
            name="language"
            class="select-lang"
          >
            <mat-option value="en">Eng</mat-option>
            <mat-option value="ge">ქარ</mat-option>
          </mat-select>
        </li>
      </ul>
      <div class="navbar_menu">
        <li class="responsive_user_li" *ngIf="isLogged">
          <a
            class="nav-link"
            routerLink="profile"
            routerLinkActive="activeLink"
          >
            <div class="user">
              <span *ngIf="!isLoading && user" class="user-name">
                {{ user.userName }}
              </span>
              <span
                *ngIf="!isLoading && user && !user.userName"
                class="user-name"
              >
                {{ "Unknown" }}
              </span>
              <mat-spinner
                *ngIf="isLoading"
                mode="indeterminate"
                diameter="20"
                class="spinner"
              >
              </mat-spinner>
              <span class="user-img">
                <img
                  [src]="user?.userImageUrl || '/assets/user-icon.svg'"
                  alt="{{ user?.userName }}"
                />
              </span>
            </div>
          </a>
        </li>
        <li>
          <a
            class="nav-link"
            (click)="uploadLink()"
            routerLinkActive="activeLink"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <div class="add-btn">
              <mat-icon>add_circle</mat-icon>
            </div>
          </a>
        </li>
        <mat-icon class="menu-icon" (click)="navbarBtnClick()">menu</mat-icon>
      </div>
    </div>
    <div [ngClass]="isNavBarDroped ? 'active' : null" class="responsive_navbar">
      <ul>
        <li>
          <mat-select
            [(ngModel)]="lang"
            (ngModelChange)="selectedLang($event)"
            name="language"
            class="select-lang"
          >
            <mat-option style="font-size: 0.9rem" value="en">Eng</mat-option>
            <mat-option style="font-size: 0.9rem" value="ge">ქარ</mat-option>
          </mat-select>
        </li>
        <li>
          <a
            class="nav-link"
            routerLink=""
            routerLinkActive="activeLink"
            (click)="navbarBtnClick()"
            [routerLinkActiveOptions]="{ exact: true }"
            >{{ "Home" | translate }}</a
          >
        </li>
        <li>
          <a
            class="nav-link"
            routerLink="about"
            routerLinkActive="activeLink"
            (click)="navbarBtnClick()"
            >{{ "About" | translate }}</a
          >
        </li>
        <li>
          <a
            class="nav-link"
            routerLink="cars"
            routerLinkActive="activeLink"
            (click)="navbarBtnClick()"
            >{{ "Cars" | translate }}</a
          >
        </li>
        <div class="responsive_bottom_col">
          <li class="sign-btns">
            <a
              *ngIf="
                !isLogged &&
                (activeRoute === '/signup' ||
                  (activeRoute !== '/signup' && activeRoute !== '/signin'))
              "
              class="btn"
              (click)="signIn()"
              >{{ "Sign_In" | translate }}</a
            >
            <a
              *ngIf="
                !isLogged &&
                (activeRoute === '/signin' ||
                  (activeRoute !== '/signup' && activeRoute !== '/signin'))
              "
              class="btn"
              (click)="signUp()"
              >{{ "Sign_up" | translate }}</a
            >
            <a *ngIf="isLogged" class="btn" (click)="logOut()">{{
              "Sign_out" | translate
            }}</a>
          </li>
        </div>
      </ul>
    </div>
  </nav>
  <main>
    <router-outlet></router-outlet>
  </main>
  <footer class="footer_content">
    <h3>© 2023</h3>
    <div>
      <img class="footer-logo" src="../assets/full-logo-white.svg" alt="#" />
    </div>
  </footer>
</div>
