.site-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  margin-top: 58px;
}

nav {
  background-color: var(--sign_BGcolor);
  width: 100%;
  z-index: 1000;
  position: fixed;
}

nav.active {
  animation: respNavbarAnimation 0.18s ease-out;
}

nav.inactivenavbar {
  animation: respNavbarAnimationInactive 0.3s linear;
  height: 58px;
}

.select-lang {
  margin-left: auto;
  width: fit-content;
  min-width: 80px;
  max-width: 100px;
  background-color: var(--main_BGcolor);
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
  font-size: 0.9rem;

}



:host ::ng-deep .spinner.mat-mdc-progress-spinner {
  stroke: var(--navbar_links__color_hovered);
  --mdc-circular-progress-active-indicator-color: var(--navbar_links__color_hovered);
  opacity: 0.8;
}


@keyframes respNavbarAnimation {
  from {
    height: 58px;
  }

  to {
    height: 244px;
  }
}

@keyframes respNavbarAnimationInactive {
  from {
    height: 244px;
  }

  to {
    height: 58px;
  }
}

@keyframes respMenuAnimation {
  from {
    opacity: 0;
    filter: opacity(0);
    transform: translateY(-40%);
  }

  to {
    opacity: 1;
    filter: opacity(1);
    transform: translateY(0);
  }
}

@keyframes respMenuAnimationInactive {
  from {
    opacity: 1;
    filter: opacity(1);
    transform: translateY(0);
  }

  to {
    opacity: 0;
    filter: opacity(0);
    transform: translateY(-100%);
  }
}

.navbar {
  max-width: 1440px;
  display: flex;
  margin: 0 auto;
  padding: 0.25rem 4rem;
  justify-content: space-between;
  align-items: center;
}

.responsive_navbar {
  display: flex;
  height: auto;
  opacity: 0;
  visibility: hidden;
  transition: all 0s;
  padding: 2rem 0;
  z-index: -1;

  /* animation: respMenuAnimationInactive 0.1s 0 linear; */
}


.responsive_navbar.active {
  visibility: visible;
  opacity: 1;
  height: auto;
  transition: all 0.25s linear;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 0.5rem 0.5rem;
  /* animation: respMenuAnimation 0.2s 0 linear; */
}

.navbar_menu {
  display: none;
  justify-content: center;
  align-items: center;
  color: var(--navbar_links__color_hovered);
  gap: 0.5rem;
}

.navbar_menu li {
  list-style: none;
}

.navbar_menu .mat-icon {
  cursor: pointer;
  font-size: 1.875rem;
  width: 1.875rem;
  height: 1.875rem;
}

.responsive_bottom_col {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  padding-top: 0.5rem;
}

.responsive_bottom_col .sign-btns .btn {
  border-radius: 0.5rem;
  border: 1px solid #cecccc00;
}

.navbar .Homepage {
  height: 50px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.navbar .Homepage .logo {
  width: 100%;
  object-fit: contain;
}

.navbar ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.responsive_navbar ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  gap: 1rem;
}

.responsive_navbar ul .sign-btns {
  justify-content: center;
}

.navbar ul li .nav-link .user,
.responsive_navbar ul li .nav-link .user,
.responsive_user_li .nav-link .user {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.3rem 0.2rem 0.3rem 1rem;
}

.navbar ul li .nav-link .user::before,
.responsive_navbar ul li .nav-link .user::before,
.responsive_user_li .nav-link .user::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 3px;
  border-radius: 1rem;
  background-color: var(--navbar_links__color_hovered);
  transition: 0.25s linear;
}

.navbar ul li .nav-link .user:hover::before,
.responsive_navbar ul li .nav-link .user:hover::before,
.responsive_user_li .nav-link .user:hover::before {
  width: 100%;
}

.navbar ul li .nav-link .user .user-name,
.responsive_navbar ul li .nav-link .user .user-name,
.responsive_user_li .nav-link .user .user-name {
  font-weight: 500;
  font-size: 1rem;
  text-transform: capitalize;
}

.navbar ul li .nav-link .user .user-img,
.responsive_navbar ul li .nav-link .user .user-img,
.responsive_user_li .nav-link .user .user-img {
  display: flex;
  align-items: center;
  justify-self: center;
  border-radius: 50%;
  overflow: hidden;
}

.navbar ul li .nav-link .user .user-img img,
.responsive_navbar ul li .nav-link .user .user-img img,
.responsive_user_li .nav-link .user .user-img img {
  width: 35px;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.navbar ul li.sign-btns a.btn,
.responsive_navbar ul li.sign-btns a.btn {
  position: relative;
  height: fit-content;
  font-size: 1rem;
  text-decoration: none;
  color: var(--navbar_links__color);
  border: 1px solid var(--sign_btn_color);
  color: var(--sign_btn_color);
  overflow: hidden;
  transition: all 0.2s;
  transition-delay: 0.1s;
  z-index: 1;
}

.navbar ul li.sign-btns a.btn:hover,
.responsive_navbar ul li.sign-btns a.btn:hover {
  color: var(--sign_BGcolor);
}

.navbar ul li.sign-btns a.btn::before,
.responsive_navbar ul li.sign-btns a.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  z-index: -1;
  background-color: var(--sign_btn_color);
  transition: 0.3s ease-in-out;
  transition-delay: 0.1s;
}

.navbar ul li.sign-btns a.btn:hover::before,
.responsive_navbar ul li.sign-btns a.btn:hover::before {
  width: 100%;
}

.responsive_navbar ul li {
  width: 100%;
}

.responsive_navbar ul li a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.navbar ul li .nav-link,
.responsive_navbar ul li .nav-link,
.responsive_user_li .nav-link {
  all: unset;
  font-weight: 500;
  font-size: 1.1rem;
  color: var(--navbar_links__color);
  cursor: pointer;
  position: relative;
  transition: 0.2s linear;
  width: 100%;
}

.navbar ul li .nav-link::before,
.responsive_navbar ul li .nav-link::before {
  content: "";
  position: absolute;
  top: 100%;
  width: 0;
  height: 3px;
  border-radius: 1rem;
  background-color: var(--navbar_links__color_hovered);
  transition: 0.25s linear;
}

.navbar ul li .nav-link:hover,
.responsive_navbar ul li .nav-link:hover {
  color: var(--navbar_links__color_hovered);
}

.navbar ul li .nav-link:hover::before,
.responsive_navbar ul li .nav-link:hover::before {
  width: 100%;
}

.navbar ul li .nav-link.activeLink,
.responsive_navbar ul li .nav-link.activeLink {
  color: var(--navbar_links__color_hovered);
  position: relative;
}

.navbar ul li .nav-link.activeLink::before,
.responsive_navbar ul li .nav-link.activeLink::before {
  content: "";
  position: absolute;
  top: 100%;
  width: 100%;
  height: 3px;
  border-radius: 1rem;
  background-color: var(--navbar_links__color_hovered);
  transition: 0.25s linear;
}

.navbar ul li .add-btn,
.navbar_menu .add-btn,
.responsive_navbar .add-btn {
  all: unset;
  font-size: 0.95rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0.4rem;
  padding: 0.4rem 0.8rem;
  border-radius: 0.8rem;
  background-color: var(--navbar_links__color_hovered);
  color: var(--sign_BGcolor);
  filter: hue-rotate(-5deg);
  transition: 0.15s linear;
  cursor: pointer;
}

.navbar_menu .add-btn {
  padding: 0.1rem 0.3rem;
  border-radius: 0.4rem;
}

.navbar ul li .add-btn .mat-icon,
.responsive_navbar .mat-icon {
  transform: scale(0.9);
}

.navbar_menu .add-btn .mat-icon {
  transform: scale(0.8);
}

.navbar_menu .add-btn {
  width: fit-content;
  height: fit-content;

}


.navbar ul li .add-btn:hover,
.navbar_menu .add-btn:hover,
.responsive_navbar .add-btn:hover {
  filter: brightness(1.02);
}

.navbar ul li .add-btn:active,
.navbar_menu .add-btn:active,
.responsive_navbar .add-btn:active {
  transform: scale(0.97);
}

.navbar ul li .nav-link.activeLink .user .user-name,
.responsive_navbar .nav-link.activeLink .user .user-name {
  position: relative;
}

.navbar ul li .nav-link.activeLink .user::before,
.responsive_navbar .nav-link.activeLink .user::before {
  content: "";
  position: absolute;
  top: 100%;
  width: 100%;
  height: 3px;
  border-radius: 1rem;
  background-color: var(--navbar_links__color_hovered);
  transition: 0.25s linear;
}

.navbar ul li select,
.responsive_navbar li select {
  padding: 0.05rem 0.125rem;
  outline: none;
  border: 1px solid var(--sign_btn_color);
  border-radius: 0.3rem;
  color: var(--sign_btn_color);
}

.sign-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

main {
  flex: 1;
  position: relative;
  height: 100%;
}

.footer_content {
  width: 100%;
  background-color: #252525;
  color: #aaa;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  gap: 1rem;
  z-index: +1;
}

.footer_content h3 {
  font-size: 1.25rem;
  color: #aaa;
}

.footer_content div {
  height: 60px;
}

.footer_content .footer-logo {
  object-fit: cover;
  width: 100px;
  height: 100%;
  filter: brightness(0.8);
}

@media (max-width: 1024px) {
  .navbar {
    padding: 0.25rem 1rem;
  }
}

@media (max-width: 880px) {
  .navbar ul {
    display: none;
  }

  .menu-icon {
    transform: scale(1.25);
    background: var(--main_BGcolor);
    border-radius: 0.125rem;
    margin-left: 0.5rem;

  }

  .navbar_menu {
    display: flex;
  }
}