<div class="register_cont">
  <form [formGroup]="signinForm">
    <div *ngIf="!checkIfExists" class="error_message">
      <span>Incorrect email or password</span>
    </div>
    <div class="form-field">
      <label for="email" class="form-field-label">Email</label>
      <input
        type="email"
        name="email"
        id="email"
        class="form-field-input"
        placeholder="example@gmail.com"
        formControlName="email"
      />
    </div>
    <div class="form-field">
      <label for="password" class="form-field-label">Password</label>
      <input
        type="password"
        name="password"
        id="password"
        class="form-field-input"
        placeholder="********"
        formControlName="password"
      />
    </div>

    <button
      [disabled]="!signinForm.valid"
      (click)="onSignin()"
      class="signin-btn"
    >
      Sign In
    </button>
    <p class="no-account-text">
      Don't have an account?
      <a class="signup-link" href="/signup">Sign up now</a>
    </p>
  </form>
</div>
