<div class="cars_container">
  <div class="filter_content">
    <form [formGroup]="carForm">
      <select value="Carmodel" formControlName="Model">
        <option value="carModel" selected>Car Manufacturer</option>
        <option *ngFor="let model of carList[0]?.carModel" [ngValue]="model">
          {{ model }}
        </option>
      </select>
      <select formControlName="category">
        <option value="carCategory" selected>Car Category</option>
        <option
          *ngFor="let category of carList[0]?.carCategory"
          [ngValue]="category"
        >
          {{ category }}
        </option>
      </select>
      <div class="from_to">
        <select (click)="chooseYear()" formControlName="yearFrom">
          <option value="yearFrom" selected>Year From</option>
          <option *ngFor="let year of carList[0]?.carYear" [ngValue]="year">
            {{ year }}
          </option>
        </select>
        <select formControlName="yearTo">
          <option value="yearTo" selected>Year To</option>
          <option *ngFor="let year of yearToArr" [ngValue]="year">
            {{ year }}
          </option>
        </select>
      </div>
      <div class="from_to">
        <select (click)="choosePrice()" formControlName="priceFrom">
          <div class="arrow"></div>
          <option value="priceFrom" selected>Price From</option>
          <option
            *ngFor="let price of carList[0]?.carPrice"
            value="price"
            [ngValue]="price"
          >
            {{ price }}
          </option>
        </select>
        <select formControlName="priceTo">
          <option value="priceTo" selected>Price To</option>
          <option
            *ngFor="let price of priceToArr"
            value="price"
            [ngValue]="price"
          >
            {{ price }}
          </option>
        </select>
      </div>
      <select formControlName="gearBox">
        <option value="gearBox" selected>Gear Box</option>
        <option
          *ngFor="let gearbox of carList[0]?.gearBox"
          value="gearbox"
          [ngValue]="gearbox"
        >
          {{ gearbox }}
        </option>
      </select>

      <div class="Filter_button">
        <button
          class="filter_btn"
          [disabled]="!carForm.valid"
          (click)="filterClick()"
        >
          Search
        </button>
        <button
          class="clearFilter_btn"
          [disabled]="!carForm.valid"
          (click)="clearFilter()"
        >
          <mat-icon>delete_sweep </mat-icon>
        </button>
      </div>
    </form>
  </div>
  <div class="cards_content">
    <div class="no-cars-found" *ngIf="carCards.length === 0 && !isLoading">
      <h3>No cars were found.</h3>
      <p>Please change the specified parameters.</p>
      <button
        class="clearFilter_btn"
        [disabled]="!carForm.valid"
        (click)="clearFilter()"
      >
        <mat-icon>delete_sweep </mat-icon>
        Clear Filters
      </button>
    </div>

    <div *ngIf="isLoading">
      <div *ngFor="let skeleton of skletonArray">
        <div class="card is-loading">
          <div class="image"></div>
          <div class="content">
            <h2 class="header-skeleton"></h2>
            <p class="paragraph-skeleton"></p>
            <p class="paragraph-skeleton"></p>
          </div>
        </div>
      </div>
    </div>
    <div *ngFor="let carObj of carCards">
      <app-car-card [carObj]="carObj"></app-car-card>
    </div>
  </div>
</div>
