<div class="cars_container">
  <div class="filter_content">
    <form [formGroup]="carForm">
      <mat-form-field appearance="outline">
        <mat-label>{{ "manufacturer" | translate }}</mat-label>
        <mat-select formControlName="Model">
          <mat-option>None</mat-option>
          <mat-option
            *ngFor="let model of carList[0]?.carModel"
            [value]="model"
          >
            {{ model | uppercase }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>{{ "category" | translate }}</mat-label>
        <mat-select formControlName="category">
          <mat-option>None</mat-option>
          <mat-option
            *ngFor="let category of carList[0]?.carCategory"
            [value]="category"
          >
            {{ category | uppercase }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- <div class="from_to"> -->
      <mat-form-field appearance="outline">
        <mat-label>{{ "year_from" | translate }}</mat-label>
        <mat-select formControlName="yearFrom">
          <mat-option>None</mat-option>
          <mat-option *ngFor="let year of carList[0]?.carYear" [value]="year">
            {{ year }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>{{ "year_to" | translate }}</mat-label>
        <mat-select formControlName="yearTo">
          <mat-option>None</mat-option>
          <mat-option *ngFor="let year of yearToArr" [value]="year">
            {{ year }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <!-- </div> -->
      <!-- <div class="from_to"> -->
      <mat-form-field appearance="outline">
        <mat-label>{{ "price_from" | translate }}</mat-label>
        <mat-select formControlName="priceFrom">
          <mat-option>None</mat-option>
          <mat-option
            *ngFor="let price of carList[0]?.carPrice"
            [value]="price"
          >
            {{ price }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>{{ "price_to" | translate }}</mat-label>
        <mat-select formControlName="priceTo">
          <mat-option>None</mat-option>
          <mat-option *ngFor="let price of priceToArr" [value]="price">
            {{ price }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <!-- </div> -->
      <mat-form-field id="gearbox" appearance="outline">
        <mat-label>{{ "gear_box" | translate }}</mat-label>
        <mat-select formControlName="gearBox">
          <mat-option>None</mat-option>
          <mat-option
            *ngFor="let gearbox of carList[0]?.gearBox"
            [value]="gearbox"
          >
            {{ gearbox | uppercase }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- <div class="Filter_button"> -->
      <button class="filter_btn" (click)="filterClick()">Search</button>
      <button
        class="clearFilter_btn"
        [disabled]="!hasFieldsValue"
        (click)="clearFilter()"
      >
        <mat-icon>delete_sweep </mat-icon>
      </button>
      <!-- </div> -->
    </form>
  </div>
  <div class="cards_content">
    <div class="no-cars-found" *ngIf="carCards.length === 0 && !isLoading">
      <h3>No cars were found.</h3>
      <p>Please change the specified parameters.</p>
      <button
        class="clearFilter_btn"
        [disabled]="!carForm.valid"
        (click)="clearFilter()"
      >
        <mat-icon>delete_sweep </mat-icon>
        Clear Filters
      </button>
    </div>

    <div *ngIf="isLoading">
      <div *ngFor="let skeleton of skletonArray">
        <div class="card is-loading">
          <div class="image"></div>
          <div class="content">
            <h2 class="header-skeleton"></h2>
            <p class="paragraph-skeleton"></p>
            <p class="paragraph-skeleton"></p>
          </div>
        </div>
      </div>
    </div>
    <div *ngFor="let carObj of carCards">
      <app-car-card [carObj]="carObj"></app-car-card>
    </div>
  </div>
</div>
