<div class="cars_container">
  <div class="filter_content">
    <form [formGroup]="carForm">
      <select value="Carmodel" formControlName="Model">
        <option value="Car model" selected>Car model</option>
        <option *ngFor="let model of carList[0]?.carModel" [ngValue]="model">
          {{ model }}
        </option>
      </select>
      <select formControlName="category">
        <option value="Car category" selected>Car category</option>
        <option
          *ngFor="let category of carList[0]?.carCategory"
          [ngValue]="category"
        >
          {{ category }}
        </option>
      </select>
      <div class="from_to">
        <select formControlName="yearFrom">
          <option value="year from" selected>Year from</option>
          <option *ngFor="let year of carList[0]?.carYear" [ngValue]="year">
            {{ year }}
          </option>
        </select>
        <select formControlName="yearTo">
          <option value="to" selected>to</option>
          <option *ngFor="let year of carList[0]?.carYear" [ngValue]="year">
            {{ year }}
          </option>
        </select>
      </div>
      <div class="from_to">
        <select formControlName="priceFrom">
          <option value="Price from" selected>Price from</option>
          <option
            *ngFor="let price of carList[0]?.carPrice"
            value="price"
            [ngValue]="price"
          >
            {{ price }}
          </option>
        </select>
        <select formControlName="priceTo">
          <option value="to" selected>to</option>
          <option
            *ngFor="let price of carList[0]?.carPrice"
            value="price"
            [ngValue]="price"
          >
            {{ price }}
          </option>
        </select>
      </div>
      <select formControlName="gearbox">
        <option value="gearbox" selected>Gear box</option>
        <option
          *ngFor="let gearbox of carList[0]?.Gearbox"
          value="gearbox"
          [ngValue]="gearbox"
        >
          {{ gearbox }}
        </option>
      </select>

      <div class="Filter_button">
        <button
          class="filter_btn"
          [disabled]="!carForm.valid"
          (click)="filterClick()"
        >
          Filter changes
        </button>
        <button
          class="clearFilter_btn"
          [disabled]="!carForm.valid"
          (click)="filterClick()"
        >
          <mat-icon>delete_sweep </mat-icon>
        </button>
      </div>
    </form>
  </div>
  <div class="cards_content">
    <div *ngFor="let card of carCArds">
      {{ card.carModel }}, {{ card.carCategory }}, {{ card.carYear }},
      {{ card.carPrice }}
    </div>
  </div>
</div>
