.create_card_container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  padding: 1rem 0;
  background-color: rgba(0, 0, 0, 0.703);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: +1;
}

.card_content {
  min-height: 660px;
  min-width: 624px;
  height: 100%;
  background-color: var(--sign_BGcolor);
  padding: 2rem;
  border-radius: 0.3rem;
  transform: translateY(0);
  animation: popUpAnim 0.3s ease-out;
}

.create_card_container form {
  max-height: 100%;
  overflow-y: auto;
}

.input_title_box {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.input_title_box div {
  display: flex;
  align-items: center;
}

.form_input_cont {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.addCard_input_top_row {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1rem;
}

.addCard_input_bottom_row {
  margin: 0 auto;
  display: flex;
  gap: 1rem;
  width: 100%;
}

.input_box {
  display: flex;
  flex-direction: column;
}

.input_box input,
.input_box select {
  padding: 0.65rem 0.8rem;
  font-size: 1rem;
  outline: none;
  border: none;
  background: whitesmoke;
  border-radius: 0.35rem;
  width: 100%;
}

.input_box .label {
  font-size: 0.95rem;
  color: rgb(95, 85, 85);
}

.input_box input::placeholder,
.input_box textarea::placeholder {
  color: rgb(139, 138, 138);
}

.input_textarea_box {
  width: 100%;
}

.input_box textarea {
  padding: 0.25rem 0.6rem;
  resize: none;
  outline: none;
  border: none;
  font-size: 0.875rem;
  background: whitesmoke;
  border-radius: 0.35rem;
  height: 100%;
}

.input_box.input_image_box {
  width: 100%;
}

.input_box.input_image_box input {
  box-shadow: none;
  border-radius: 0 0 0.35rem 0.35rem;
  background: var(--main_BGcolor);
}

.image_display_box {
  position: relative;
  width: 100%;
  height: 100%;
  max-height: 150px;
}

.upload-file {
  width: 100%;
  border: 1px solid var(--main_BGcolor);
  padding: 0.5rem 0;
}

.image_display_box img {
  object-fit: cover;
  width: 100%;
  height: 150px;
  border-radius: 0.35rem 0.35rem 0 0;
}

.image_display_box mat-progress-bar.progress-bar {
  position: absolute;
  bottom: 0;
  height: 20px;
}

.image_display_box mat-progress-bar.mdc-linear-progress {
  transition: 10ms 0ms cubic-bezier(0.4, 0, 0.6, 1);
  height: 6px;
}

.wheel_and_btnsbox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profile_card_btn_col2 {
  display: flex;
  width: 100%;
  gap: 0.5rem;
}

.profile_card_btn_col2 button {
  width: 100%;
}

.profile_card_btn_col2 button {
  width: 100%;
}

.prf_card_cancel_btn {
  background-color: #fceaeaf7;
  border: 2px solid #f06a6a;
  color: #ff1818;
  transition: all 0.2s;
}

.prf_card_cancel_btn:hover {
  background-color: #ff1818;
  border: 2px solid #ff1818;
  color: var(--main_BGcolor);
}

.load_spinner_cont {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-error {
  font-size: 0.75rem;
  margin-top: -10px;
  margin-bottom: -10px;
  padding: 0;
}

.mat-spinner-container.uploading {
  background-color: rgba(0, 0, 0, 0.6);
}

.mat-spinner-container,
.mat-spinner {
  position: absolute;
  inset: 0;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

::ng-deep .mat-spinner {
  --mdc-circular-progress-active-indicator-color: #ffffff;
}

.mat-spinner-container .percentage {
  color: var(--main_BGcolor);
  font-size: 1rem;
  font-weight: 400;
}


form select {
  all: unset;
  position: relative;
  padding: 0.65rem 0.8rem;
  font-size: 1rem;
  border: none;
  background: whitesmoke;
  color: var(--navbar_links__color);
  border-radius: 0.35rem;
  width: 100%;
  outline: none;
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.125s 0s ease-in-out;
}


form select:hover {
  filter: brightness(0.9);
}

form select option:first-child {
  color: black;
  font-weight: 600;
}

form select option {
  height: 20px;
  text-transform: capitalize;
}




@media (max-width: 768px) {
  .card_content {
    min-height: 100%;
    min-width: 100%;
    height: 100%;
  }
}

@media (max-width: 530px) {
  .addCard_input_top_row {
    display: grid;
    grid-template-columns: auto;
    gap: 1rem;
  }

  .addCard_input_bottom_row {
    flex-direction: column;
  }

  .input_textarea_box {
    width: 100%;
    height: 150px;
  }
}

/*------------------------
--------Keyframes--------
-------------------------*/

@keyframes popUpAnim {
  0% {
    transform: scale(0.3);
    overflow: hidden;
    opacity: 0.1;
  }

  100% {
    transform: scale(1);
    overflow: hidden;
    opacity: 1;
  }
}