@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --navbar_links__color: #1d1d1d;
  --dark-bg: rgba(23, 22, 22, 0.8);
  --text-color-main: #161616;
  --navbar_links__color_hovered: crimson;
  --sign_btn_color: #3333a6;
  --btn_BGcolor: #3f51b5;
  --main_BGcolor: #f2f3f6;
  --sign_BGcolor: white;
  --error_message_color: #ff0000;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--main_BGcolor);
  margin: 0;
  font-family: "Poppins", sans-serif;
  overflow-x: none;
}

a.btn {
  cursor: pointer;
  border: 1px solid #cecccc;
  padding: 0.2rem 1rem;
  border-radius: 1rem;
}

button {
  padding: 0.5rem 1rem;
  background: none;
  border: none;
  font-family: inherit;
  font-size: 1rem;
  background: var(--btn_BGcolor);
  border-radius: 0.3rem;
  color: var(--sign_BGcolor);
  cursor: pointer;
  border: 2px solid var(--btn_BGcolor);
  transition: all 0.125s;
}

button:hover {
  filter: brightness(1.15);
}

button:disabled {
  filter: opacity(0.7);
  cursor: default;
}

input[type=file]::file-selector-button {
  margin-right: 1rem;
  border: none;
  background: var(--btn_BGcolor);
  padding: 0.5rem 1rem;
  border-radius: 0.35rem;
  color: var(--main_BGcolor);
  cursor: pointer;
  transition: background .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
  filter: brightness(0.95);
}













/* width */
::-webkit-scrollbar,
::-moz-scrollbar {
  width: 5px;
  border-radius: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}