@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --navbar_links__color: #1d1d1d;
  --dark-bg: rgba(23, 22, 22, 0.8);
  --text-color-main: #161616;
  --navbar_links__color_hovered: crimson;
  --sign_btn_color: #3333a6;
  --btn_BGcolor: #3f51b5;
  --main_BGcolor: #f2f3f6;
  --sign_BGcolor: white;
  --error_message_color: #ff0000;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--main_BGcolor);
  margin: 0;
  font-family: "Poppins", sans-serif;
  overflow-x: none;
}

a.btn {
  cursor: pointer;
  border: 1px solid #cecccc;
  padding: 0.2rem 1rem;
  border-radius: 1rem;
}

button {
  padding: 0.5rem 1rem;
  background: none;
  border: none;
  font-family: inherit;
  font-size: 1rem;
  background: var(--btn_BGcolor);
  border-radius: 0.3rem;
  color: var(--sign_BGcolor);
  cursor: pointer;
  border: 2px solid var(--btn_BGcolor);
  transition: all 0.125s;
}

button:hover {
  filter: brightness(1.15);
}

button:disabled {
  filter: opacity(0.7);
  cursor: default;
}

input[type="file"]::file-selector-button {
  all: unset;
  margin-right: 1rem;
  border: none;
  background: var(--btn_BGcolor);
  padding: 0.5rem 1rem;
  border-radius: 0.35rem;
  color: var(--main_BGcolor);
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

input[type="file"]::file-selector-button:hover {
  filter: brightness(0.95);
}

/*---------------------------
      Car Card Skeleton  
 ---------------------------*/
.card.is-loading {
  display: flex;
  margin: 2rem auto;
  width: 100%;
  min-height: 200px;
  gap: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 0.1);
  background-color: var(--sign_BGcolor);
  color: rgb(16, 25, 62);
}

.card.is-loading .image {
  width: 220px;
  height: 170px;
  flex-shrink: 0;
}

.card.is-loading .content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}

.card.is-loading .image,
.card.is-loading .content .header-skeleton,
.card.is-loading .content .paragraph-skeleton {
  background: #eee;
  background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
  border-radius: 0.5rem;
  background-size: 200% 100%;
  animation: shine 1.5s linear infinite;
}

.card.is-loading .header-skeleton {
  display: inline;
  width: 100%;
  height: 40px;
}

.card.is-loading .content .paragraph-skeleton {
  display: inline;
  width: 70%;
  height: 20px;
}

/*---------------------------
      Profile info Skeleton  
 ---------------------------*/
.profileCard.is-loading {
  width: 100%;
  height: 100%;
  border-radius: 0.3rem;
  gap: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--sign_BGcolor);
  color: rgb(16, 25, 62);
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  align-items: center;
}

.profileCard.is-loading .content {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  width: 540px;
  justify-content: center;
}

.profileCard.is-loading .image {
  width: 250px;
  height: 250px;
  flex-shrink: 0;
  border-radius: 50%;
}

.profileCard.is-loading .content .paragraph-skeleton {
  display: inline;
  width: 100%;
  height: 38px;
  border-radius: 0.5rem;
}

.profileCard.is-loading .image,
.profileCard.is-loading .content .header-skeleton,
.profileCard.is-loading .content .paragraph-skeleton {
  background: #eee;
  background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
  background-size: 200% 100%;
  animation: shine 1.5s linear infinite;
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}

/*---------------------------
      Scroll Bar Design  
 ---------------------------*/

/* width */
::-webkit-scrollbar,
::-moz-scrollbar {
  width: 5px;
  border-radius: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}






/*Media Queries*/
@media (max-width: 880px) {

  html,
  body {
    font-size: 16px;
  }
}

@media (max-width: 500px) {

  html,
  body {
    font-size: 15px;
  }
}

@media (max-width: 300px) {

  html,
  body {
    font-size: 13px;
  }
}