<div *ngIf="!carDetails" class="spinner-cont">
  <mat-spinner
    [diameter]="60"
    mode="indeterminate"
    class="spinner"
  ></mat-spinner>
</div>

<div *ngIf="carDetails" class="car-details">
  <div class="car-header-image">
    <h2 class="car-header">
      {{ carDetails.carModel }} {{ carDetails.carSeries }}
      <span class="car-year">{{ carDetails.carYear }}</span>
      <span class="car-price">
        {{ carDetails.carPrice | currency : "USD" }}
      </span>
    </h2>
    <div class="car-image s">
      <img
        src="{{ carDetails.carImg || '/assets/no-image.svg' }}"
        onerror="this.src='/assets/no-image.svg'"
        alt=""
      />
    </div>
  </div>
  <div class="car-specifications">
    <div class="user">
      <div class="user-image">
        <img src="/assets/user-icon.svg" alt="" />
      </div>
      <div *ngIf="user" class="user-details">
        <span class="user-fullname">{{
          user ? user.userName + " " + user.userLastName : "Anonimous"
        }}</span>
        <span class="user-email">{{ user.userEmail || "-" }}</span>
      </div>
      <div *ngIf="carDetails.createdAt" class="publish-date">
        <!-- <span>Published:</span> -->
        <span class="date">
          {{ carDetails.createdAt.seconds * 1000 | date }}
        </span>
      </div>
      <div *ngIf="!user" class="user-details">
        <mat-spinner diameter="25" class="spinner"></mat-spinner>
      </div>
    </div>
    <div class="car-description">
      <p class="car-description-header">Description:</p>
      <p class="car-description-text">
        {{ carDetails.carDetails }}
      </p>
    </div>
    <div class="car-parameters">
      <div class="car-parameter">
        <div class="car-parameter-name">Manufacturer</div>
        <div class="car-parameter-value">{{ carDetails.carModel || "-" }}</div>
      </div>
      <div class="car-parameter">
        <div class="car-parameter-name">Model</div>
        <div class="car-parameter-value">{{ carDetails.carSeries || "-" }}</div>
      </div>
      <div class="car-parameter">
        <div class="car-parameter-name">Year</div>
        <div class="car-parameter-value">{{ carDetails.carYear || "-" }}</div>
      </div>
      <div class="car-parameter">
        <div class="car-parameter-name">Category</div>
        <div class="car-parameter-value">
          {{ carDetails.carCategory || "-" }}
        </div>
      </div>
      <div class="car-parameter">
        <div class="car-parameter-name">Gear box type</div>
        <div class="car-parameter-value">{{ carDetails.gearBox || "-" }}</div>
      </div>
      <div class="car-parameter">
        <div class="car-parameter-name">Drive wheels</div>
        <div class="car-parameter-value">{{ carDetails.wheel || "-" }}</div>
      </div>
      <div class="car-parameter">
        <div class="car-parameter-name">Color</div>
        <div class="car-parameter-value">{{ carDetails.carColor || "-" }}</div>
      </div>
    </div>
  </div>
</div>
