<div
  *ngIf="carObj"
  [ngClass]="selected ? 'hover selected' : isProfilePage ? 'hover' : ''"
  class="car-card"
>
  <a
    routerLink="/cars/cardetails/{{ carObj.id }}"
    target="_blank"
    class="card-image"
  >
    <img
      src="{{ carObj.carImg || '/assets/no-image.svg' }}"
      onerror="this.src='/assets/no-image.svg'"
      fill
      loading="lazy"
    />
  </a>
  <div class="card-content">
    <div class="car-name-price">
      <a
        routerLink="/cars/cardetails/{{ carObj.id }}"
        target="_blank"
        class="car-name"
      >
        {{ carObj.carModel }} - {{ carObj.carSeries }}
        <span class="car-name-year">/ {{ carObj.carYear }} year</span>
      </a>
      <span
        routerLink="/cars/cardetails/{{ carObj.id }}"
        target="_blank"
        class="car-price"
      >
        {{ carObj.carPrice | currency : "USD" }}
      </span>
    </div>
    <div class="specifications">
      <div class="spec">
        <img class="icon" src="/assets/icons/car.svg" alt="category" />
        <span>
          {{ carObj.carCategory }}
        </span>
      </div>
      <div class="spec">
        <img class="icon" src="/assets/icons/gearbox.svg" alt="gearbox" />
        <span>
          {{ carObj.gearBox }}
        </span>
      </div>
      <div class="spec">
        <img class="icon" src="/assets/icons/color.svg" alt="gearbox" />
        <span>
          {{ carObj.carColor }}
        </span>
      </div>
      <div class="spec">
        <img class="icon" src="/assets/icons/wheel.svg" alt="wheel" />
        <span>
          {{ carObj.wheel }}
        </span>
      </div>
    </div>
  </div>
</div>
