<div class="profile_container">
  <div class="profile_top_content">
    <div *ngIf="!user" class="profileCard is-loading">
      <div class="content">
        <p class="paragraph-skeleton"></p>
        <p class="paragraph-skeleton"></p>
        <p class="paragraph-skeleton"></p>
        <p class="paragraph-skeleton"></p>
      </div>
      <div class="image"></div>
    </div>
    <form
      *ngIf="user"
      [formGroup]="profileEditForm"
      class="profile_edit_left_column"
    >
      <div class="cell">
        <div class="info_input_names">
          <div class="info_inpt_name_box">
            <h3>{{ "Profile_pg_t3" | translate }}:</h3>
          </div>
          <div class="profile_info_box_input">
            <span
              class="userName"
              [ngClass]="infoEdit_btnCheck ? 'active' : null"
              >{{ user.userName }}</span
            >
            <input
              formControlName="name"
              [ngClass]="infoEdit_btnCheck ? 'active' : null"
              type="text"
            />
          </div>
        </div>
        <div class="cell_child">
          <div
            *ngIf="
              profileEditForm.get('name')?.invalid &&
              (profileEditForm.get('name')?.dirty ||
                profileEditForm.get('name')?.touched)
            "
          >
            <mat-error *ngIf="infoEdit_btnCheck">
              <span *ngIf="profileEditForm.get('name')?.hasError('required')"
                >Name is required</span
              >
              <span *ngIf="profileEditForm.get('name')?.hasError('pattern')"
                >Incorrect Name format</span
              >
            </mat-error>
          </div>
        </div>
      </div>
      <div class="cell">
        <div class="info_input_names">
          <div class="info_inpt_name_box">
            <h3>{{ "Profile_pg_t4" | translate }}:</h3>
          </div>
          <div class="profile_info_box_input">
            <span
              class="lastName"
              [ngClass]="infoEdit_btnCheck ? 'active' : null"
              >{{ user.userLastName }}</span
            >
            <input
              formControlName="lastname"
              [ngClass]="infoEdit_btnCheck ? 'active' : null"
              type="text"
            />
          </div>
        </div>
        <div class="cell_child">
          <div
            *ngIf="
              profileEditForm.get('lastname')?.invalid &&
              (profileEditForm.get('lastname')?.dirty ||
                profileEditForm.get('lastname')?.touched)
            "
          >
            <mat-error *ngIf="infoEdit_btnCheck">
              <span
                *ngIf="profileEditForm.get('lastname')?.hasError('required')"
                >Lastname is required</span
              >
              <span *ngIf="profileEditForm.get('lastname')?.hasError('pattern')"
                >Incorrect lastname format</span
              >
            </mat-error>
          </div>
        </div>
      </div>
      <div class="cell">
        <div class="info_input_names">
          <div class="info_inpt_name_box">
            <h3>{{ "Profile_pg_t5" | translate }}:</h3>
          </div>
          <div class="profile_info_box_input">
            <span [ngClass]="infoEdit_btnCheck ? null : null">{{
              user.userEmail
            }}</span>
            <!-- <input
              formControlName="email"
              [ngClass]="infoEdit_btnCheck ? 'active' : null"
              type="email"
            /> -->
          </div>
        </div>
        <div class="cell_child">
          <div
            *ngIf="
              profileEditForm.get('email')?.invalid &&
              (profileEditForm.get('email')?.dirty ||
                profileEditForm.get('email')?.touched)
            "
          >
            <mat-error *ngIf="infoEdit_btnCheck">
              <span *ngIf="profileEditForm.get('email')?.hasError('required')"
                >Email is required</span
              >
              <span *ngIf="profileEditForm.get('email')?.hasError('pattern')"
                >Incorrect email format</span
              >
            </mat-error>
          </div>
        </div>
      </div>
      <div class="cell">
        <div class="info_input_names">
          <div class="info_inpt_name_box">
            <h3>{{ "Profile_pg_t6" | translate }}:</h3>
          </div>
          <div class="profile_info_box_input">
            <span
              [ngClass]="infoEdit_btnCheck ? null : null"
              style="color: rgba(128, 128, 128, 0.912)"
              *ngIf="!passwordCheck"
              >********</span
            >
            <span
              [ngClass]="infoEdit_btnCheck ? null : null"
              style="color: var(--navbar_links__color)"
              *ngIf="passwordCheck"
              >{{ user.userPassword }}</span
            >
            <mat-icon
              [ngClass]="infoEdit_btnCheck ? null : null"
              (click)="passwordShow()"
              >remove_red_eye</mat-icon
            >
            <!-- <input
              formControlName="password"
              [ngClass]="infoEdit_btnCheck ? 'active' : null"
              type="text"
            /> -->
          </div>
        </div>
        <div class="cell_child">
          <div
            *ngIf="
              profileEditForm.get('password')?.invalid &&
              (profileEditForm.get('password')?.dirty ||
                profileEditForm.get('password')?.touched)
            "
          >
            <mat-error *ngIf="infoEdit_btnCheck">
              <span
                *ngIf="profileEditForm.get('password')?.hasError('required')"
                >Password is required</span
              >
              <span *ngIf="profileEditForm.get('password')?.hasError('pattern')"
                >Incorrect password format</span
              >
            </mat-error>
          </div>
        </div>
      </div>
      <div class="profile_btns_box">
        <div
          class="profile_info_btn_col1"
          [ngClass]="infoEdit_btnCheck ? 'active' : null"
        >
          <button (click)="infoEditBtn()" class="prf_info_edit_btn">
            {{ "Profile_pg_t7" | translate }}
          </button>
        </div>
        <div
          class="profile_info_btn_col2"
          [ngClass]="infoEdit_btnCheck ? 'active' : null"
        >
          <button
            [disabled]="!profileEditForm.valid"
            (click)="infoSaveBtn()"
            class="prf_info_save_btn"
            type="submit"
          >
            {{ "Profile_pg_t10" | translate }}
          </button>
          <button (click)="infoCancelBtn()" class="prf_info_cancel_btn">
            {{ "Profile_pg_t11" | translate }}
          </button>
        </div>
      </div>
    </form>
    <div *ngIf="user" class="profile_edit_right_column">
      <div
        [ngClass]="
          isImageCompressing || isImageUploading
            ? 'userImage disabled'
            : 'userImage'
        "
      >
        <img
          [src]="
            user.userImageUrl || saveUserImageUrl || '/assets/user-icon.svg'
          "
          alt=""
        />
      </div>
      <div class="mat-spinner-container">
        <mat-spinner
          class="mat-spinner"
          color="red"
          *ngIf="isImageCompressing || isImageUploading"
          [mode]="
            isImageCompressing
              ? 'indeterminate'
              : isImageUploading
              ? 'determinate'
              : 'indeterminate'
          "
          [value]="imageUploadProgressBar"
        >
        </mat-spinner>
        <p *ngIf="isImageCompressing || isImageUploading" class="percentage">
          {{ imageUploadProgressBar + "%" }}
        </p>
      </div>
      <div class="editImg_btn">
        <label
          for="UserimageEdit"
          [ngClass]="
            isImageCompressing || isImageUploading
              ? 'editImageBtn disabled'
              : 'editImageBtn'
          "
        >
          <input
            (change)="onFileChange($event)"
            id="UserimageEdit"
            type="file"
            [disabled]="isImageCompressing || isImageUploading"
          />
          <p>{{ "Profile_pg_t7" | translate }}</p>
          <mat-icon>create</mat-icon>
        </label>
        <button
          (click)="openDeleting()"
          [disabled]="!user.userImageUrl"
          class="delete-btn"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="profile_bottom_content">
    <div class="car_create_box">
      <div class="prf_card_btns_col1">
        <button (click)="cardAddBtn()" class="prf_card_create_btn">
          {{ "Profile_pg_t8" | translate }}
        </button>
      </div>
      <div class="prf_card_btns_col2">
        <div class="prf_edit_col">
          <button
            [disabled]="CardSelectedArray.length !== 1"
            class="prf_cards_edit_btn"
            (click)="editCard()"
          >
            {{ "Profile_pg_t7" | translate }}
          </button>
          <button
            [disabled]="!CardClickCheck"
            (click)="deleteCard()"
            class="prf_cards_delete_btn"
          >
            {{ "Profile_pg_t9" | translate }}
          </button>
        </div>
      </div>
    </div>
    <div class="Person_card_content">
      <span
        class="no-cars"
        *ngIf="!isLoadingCars && usersCardsList.length === 0"
        >You don't have cars uploaded...</span
      >
      <div *ngIf="isLoadingCars">
        <div *ngFor="let skeleton of skletonArray">
          <div class="card is-loading">
            <div class="image"></div>
            <div class="content">
              <h2 class="header-skeleton"></h2>
              <p class="paragraph-skeleton"></p>
              <p class="paragraph-skeleton"></p>
            </div>
          </div>
        </div>
      </div>
      <div *ngFor="let card of usersCardsList">
        <div class="user_card_box">
          <app-car-card
            (click)="cardSelect(card)"
            [selected]="card.selected"
            [isProfilePage]="true"
            #card
            [carObj]="card"
          ></app-car-card>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  *ngIf="CardsAdd_btnCheck"
  [ngClass]="!CardsAdd_btnCheck ? 'hide' : null"
  class="overlay-container"
>
  <app-add-card
    [IsCardsAdd]="CardsAdd_btnCheck"
    [id]="id"
    (cancel)="closeAddCardOverlay()"
  ></app-add-card>
</div>

<div
  *ngIf="CardsEdit_btnCheck"
  [ngClass]="!CardsEdit_btnCheck ? 'hide' : null"
  class="overlay-container"
>
  <app-add-card
    [IsCardsEdit]="CardsEdit_btnCheck"
    [SelectedCarIdForEdit]="CardSelectedArray"
    [id]="id"
    (cancel)="closeAddCardOverlay()"
  ></app-add-card>
</div>

<div *ngIf="popUpCheck" class="delete_popup">
  <div class="delete_popup_content">
    <div class="popup_top_row">
      <mat-icon>report_problem</mat-icon>
      <h2>{{ "card_Delete_pg_t1" | translate }}</h2>
    </div>
    <div class="popup_bottom_row">
      <p>{{ "card_Delete_pg_t2" | translate }}</p>
      <div class="delete_popUp_btns">
        <button (click)="popUpDelete()" class="popUp_deleteBtn">
          {{ "Profile_pg_t9" | translate }}
        </button>
        <button (click)="popUpCancel()" class="popUp_cancelBtn">
          {{ "Profile_pg_t11" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="isDeleteOpen" class="delete_popup">
  <div class="delete_popup_content">
    <div class="popup_top_row">
      <mat-icon>report_problem</mat-icon>
      <h2>{{ "card_Delete_pg_t1" | translate }}</h2>
    </div>
    <div class="popup_bottom_row">
      <p>{{ "card_Delete_pg_t2" | translate }}</p>
      <div class="delete_popUp_btns">
        <button (click)="deleteProfileImage()" class="popUp_deleteBtn">
          {{ "Profile_pg_t9" | translate }}
        </button>
        <button (click)="cancelDeleting()" class="popUp_cancelBtn">
          {{ "Profile_pg_t11" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
