.doesnot_exist_page {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  text-align: center;
}

.doesnot_exist_page h1 {
  font-size: 12rem;
  color: var(--navbar_links__color_hovered);
}

.doesnot_exist_page h3 {
  color: var(--navbar_links__color);
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.doesnot_exist_page p {
  color: var(--navbar_links__color);
  font-size: 1rem;
  text-transform: lowercase;
}
