<div class="profile_container">
  <div class="profile_top_content">
    <form [formGroup]="profileEditForm" class="profile_edit_left_column">
      <div class="cell">
        <div class="info_input_names">
          <div class="info_inpt_name_box">
            <h3>Name:</h3>
          </div>
          <div class="profile_info_box_input">
            <span [ngClass]="infoEdit_btnCheck ? 'active' : null">{{
              user?.userName
            }}</span>
            <input
              formControlName="name"
              [ngClass]="infoEdit_btnCheck ? 'active' : null"
              type="text"
            />
          </div>
        </div>
        <div class="cell_child">
          <div
            *ngIf="
              profileEditForm.get('name')?.invalid &&
              (profileEditForm.get('name')?.dirty ||
                profileEditForm.get('name')?.touched)
            "
          >
            <mat-error *ngIf="infoEdit_btnCheck">
              <span *ngIf="profileEditForm.get('name')?.hasError('required')"
                >Name is required</span
              >
              <span *ngIf="profileEditForm.get('name')?.hasError('pattern')"
                >Incorrect Name format</span
              >
            </mat-error>
          </div>
        </div>
      </div>
      <div class="cell">
        <div class="info_input_names">
          <div class="info_inpt_name_box">
            <h3>Lastname:</h3>
          </div>
          <div class="profile_info_box_input">
            <span [ngClass]="infoEdit_btnCheck ? 'active' : null">{{
              user?.userLastName
            }}</span>
            <input
              formControlName="lastname"
              [ngClass]="infoEdit_btnCheck ? 'active' : null"
              type="text"
            />
          </div>
        </div>
        <div class="cell_child">
          <div
            *ngIf="
              profileEditForm.get('lastname')?.invalid &&
              (profileEditForm.get('lastname')?.dirty ||
                profileEditForm.get('lastname')?.touched)
            "
          >
            <mat-error *ngIf="infoEdit_btnCheck">
              <span
                *ngIf="profileEditForm.get('lastname')?.hasError('required')"
                >Lastname is required</span
              >
              <span *ngIf="profileEditForm.get('lastname')?.hasError('pattern')"
                >Incorrect lastname format</span
              >
            </mat-error>
          </div>
        </div>
      </div>
      <div class="cell">
        <div class="info_input_names">
          <div class="info_inpt_name_box">
            <h3>Email:</h3>
          </div>
          <div class="profile_info_box_input">
            <span [ngClass]="infoEdit_btnCheck ? 'active' : null">{{
              user?.userEmail
            }}</span>
            <input
              formControlName="email"
              [ngClass]="infoEdit_btnCheck ? 'active' : null"
              type="email"
            />
          </div>
        </div>
        <div class="cell_child">
          <div
            *ngIf="
              profileEditForm.get('email')?.invalid &&
              (profileEditForm.get('email')?.dirty ||
                profileEditForm.get('email')?.touched)
            "
          >
            <mat-error *ngIf="infoEdit_btnCheck">
              <span *ngIf="profileEditForm.get('email')?.hasError('required')"
                >Email is required</span
              >
              <span *ngIf="profileEditForm.get('email')?.hasError('pattern')"
                >Incorrect email format</span
              >
            </mat-error>
          </div>
        </div>
      </div>
      <div class="cell">
        <div class="info_input_names">
          <div class="info_inpt_name_box">
            <h3>Password:</h3>
          </div>
          <div class="profile_info_box_input">
            <span
              [ngClass]="infoEdit_btnCheck ? 'active' : null"
              style="color: rgba(128, 128, 128, 0.912)"
              *ngIf="!passwordCheck"
              >********</span
            >
            <span
              [ngClass]="infoEdit_btnCheck ? 'active' : null"
              style="color: var(--navbar_links__color)"
              *ngIf="passwordCheck"
              >{{ user?.userPassword }}</span
            >
            <mat-icon
              [ngClass]="infoEdit_btnCheck ? 'active' : null"
              (click)="passwordShow()"
              >remove_red_eye</mat-icon
            >
            <input
              formControlName="password"
              [ngClass]="infoEdit_btnCheck ? 'active' : null"
              type="text"
            />
          </div>
        </div>
        <div class="cell_child">
          <div
            *ngIf="
              profileEditForm.get('password')?.invalid &&
              (profileEditForm.get('password')?.dirty ||
                profileEditForm.get('password')?.touched)
            "
          >
            <mat-error *ngIf="infoEdit_btnCheck">
              <span
                *ngIf="profileEditForm.get('password')?.hasError('required')"
                >Password is required</span
              >
              <span *ngIf="profileEditForm.get('password')?.hasError('pattern')"
                >Incorrect password format</span
              >
            </mat-error>
          </div>
        </div>
      </div>
      <div class="profile_btns_box">
        <div
          class="profile_info_btn_col1"
          [ngClass]="infoEdit_btnCheck ? 'active' : null"
        >
          <button (click)="infoEditBtn()" class="prf_info_edit_btn">
            Edit
          </button>
        </div>
        <div
          class="profile_info_btn_col2"
          [ngClass]="infoEdit_btnCheck ? 'active' : null"
        >
          <button
            [disabled]="!profileEditForm.valid"
            (click)="infoSaveBtn()"
            class="prf_info_save_btn"
          >
            Save
          </button>
          <button (click)="infoCancelBtn()" class="prf_info_cancel_btn">
            Cancel
          </button>
        </div>
      </div>
    </form>
    <div class="profile_edit_right_column">
      <img src="../../assets/user-icon.svg" alt="#" />
    </div>
  </div>
  <div class="profile_bottom_content">
    <div class="car_ctreate_box">
      <div class="prf_card_btns_col1">
        <button (click)="cardAddBtn()" class="prf_card_create_btn">
          Add card
        </button>
      </div>
      <div class="prf_card_btns_col2">
        <div class="prf_edit_col">
          <button class="prf_cards_edit_btn">Edit</button>
          <button class="prf_cards_delete_btn">Delete</button>
        </div>
        <div class="prf_save_col">
          <button class="prf_cards_save_btn">Save</button>
          <button class="prf_cards_cancel_btn">Cancel</button>
        </div>
      </div>
    </div>
    <div class="Person_card_content">
      <div>
        <app-car-card></app-car-card>
      </div>
    </div>
  </div>
</div>

<div
  [ngClass]="CardsAdd_btnCheck ? 'active' : null"
  class="create_card_container"
>
  <form (submit)="onFormSubmit($event)">
    <div class="form_input_cont">
      <div class="addCard_input_top_row">
        <div class="input_box">
          <label>Model</label>
          <input placeholder="model" type="text" />
        </div>
        <div class="input_box">
          <label>Category</label>
          <input placeholder="sedan" type="text" />
        </div>
        <div class="input_box">
          <label>Year</label>
          <input placeholder="2023" type="text" />
        </div>
        <div class="input_box">
          <label>Price</label>
          <input placeholder="28000" type="text" />
        </div>
        <div class="input_box">
          <label>Color</label>
          <input placeholder="red" type="text" />
        </div>
        <div class="input_box">
          <label>Gearbox</label>
          <input placeholder="automatic" type="text" />
        </div>
      </div>
      <div class="addCard_input_bottom_row">
        <div class="input_box wheal_and_btnsbox">
          <div>
            <label>Wheel</label>
            <input placeholder="front-wheel drive" type="text" />
          </div>

          <div class="profile_btns_box">
            <div class="profile_card_btn_col2">
              <button (click)="cardSaveBtn()" class="prf_card_save_btn">
                Save
              </button>
              <button (click)="cardCancelBtn()" class="prf_card_cancel_btn">
                Cancel
              </button>
            </div>
          </div>
        </div>
        <div class="input_box input_textarea_box">
          <label>Details</label>
          <textarea placeholder="Powerful engine, iconic design..."></textarea>
        </div>
        <div class="input_box input_image_box">
          <label>Photo</label>
          <div class="image_display_box"></div>
          <input type="file" />
        </div>
      </div>
    </div>
  </form>
</div>
