.profile_container {
  margin-top: 3rem;
  padding: 0 2rem;
  gap: 4rem;
  display: flex;
  flex-direction: column;
}

.profile_top_content {
  background-color: var(--sign_BGcolor);
  border-radius: 0.875rem;
  max-width: 1440px;
  width: 90%;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  padding: 1rem;
  box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 0.1);
}

.profile_bottom_content {
  display: flex;
  flex-direction: column;
  border-radius: 0.875rem;
  max-width: 1440px;
  width: 90%;
  margin: 0 auto;
}

.profile_top_content {
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}

.profile_edit_right_column {
  width: 250px;
}

.profile_edit_right_column img {
  width: 100%;
  object-fit: cover;
}

.profile_edit_left_column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 540px;
}

.cell {
  display: flex;
  gap: 1rem;
}

.info_input_names {
  text-align: left;
  /* width: 20%; */
  color: var(--navbar_links__color_hovered);
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 1rem;
}

.info_inpt_name_box {
  width: 100px;
  text-align: right;
  font-size: 0.875rem;
}

.cell_child {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: end;
}

.profile_info_box_input {
  display: flex;
  align-items: center;
  color: var(--navbar_links__color);
  font-size: 1rem;
}

.profile_info_box_input mat-icon {
  color: var(--navbar_links__color);
  font-size: 1.125rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile_info_box_input mat-icon.active,
.profile_info_box_input span.active {
  display: none;
}

.profile_info_box_input input.active {
  display: flex;
}

.profile_info_box_input span {
  font-size: 1.125rem;
  text-align: left;
}

.profile_info_box_input input {
  color: var(--navbar_links__color);
  outline: none;
  padding: 0.65rem 0.8rem;
  font-size: 1rem;
  border: none;
  background: whitesmoke;
  border-radius: 0.35rem;
  /* width: 250px; */
  display: none;
}

.profile_btns_box {
  display: flex;
  margin-top: 2rem;
}

.profile_info_btn_col1 {
  width: 100%;
}

.profile_info_btn_col1.active {
  display: none;
}

.profile_info_btn_col1 button {
  width: 50%;
}

.profile_info_btn_col2 {
  display: none;
  width: 50%;
  gap: 0.5rem;
}

.profile_info_btn_col2.active {
  display: flex;
}

.profile_info_btn_col2 button {
  width: 100%;
}

.profile_info_btn_col2 button {
  width: 100%;
}

.prf_info_cancel_btn {
  background-color: #fceaeaf7;
  border: 2px solid #f06a6a;
  color: #ff1818;
  transition: all 0.2s;
}

.prf_info_cancel_btn:hover {
  background-color: #ff1818;
  border: 2px solid #ff1818;
  color: var(--main_BGcolor);
}

.Person_card_content {
  background-color: var(--sign_BGcolor);
  border-radius: 0.875rem;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  max-width: 1440px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  padding: 1rem;
  z-index: 10;
  box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 0.1);
}

.car_ctreate_box {
  display: flex;
  justify-content: space-between;
}

.prf_card_create_btn {
  padding: 0.2rem 1.5rem;
  border-radius: 0.3rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0.875rem;
  border-top-right-radius: 1.75rem;
  position: relative;
}

.prf_card_create_btn::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 18px;
  transform: rotateZ(-20deg);
  background-color: var(--btn_BGcolor);
  bottom: -5px;
  right: -3.5px;
}

.prf_card_btns_col2 {
  display: flex;
  align-items: center;
}

.prf_card_btns_col2 {
  display: flex;
}

.prf_edit_col {
  display: flex;
  gap: 0.1rem;
}

.prf_cards_edit_btn,
.prf_cards_save_btn {
  padding: 0.2rem 1.5rem;
  border-radius: 0.3rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 1.75rem;
  border-top-right-radius: 0;
  position: relative;
}

.prf_cards_edit_btn::before,
.prf_cards_save_btn::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 18px;
  transform: rotateZ(26deg);
  background-color: var(--btn_BGcolor);
  bottom: -5px;
  left: -3.9px;
}

.prf_cards_delete_btn,
.prf_cards_cancel_btn {
  padding: 0.2rem 1.5rem;
  border-radius: 0.3rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0.875rem;
  position: relative;
  background-color: #ff1818;
  color: var(--main_BGcolor);
  transition: all 0.2s;
  border: 0;
}

.prf_cards_delete_btn:hover,
.prf_cards_cancel_btn:hover {
  background-color: #ee3d3d;
}

.prf_save_col {
  display: flex;
  gap: 0.1rem;
  display: none;
}

/*=========================*/
/*====CREATE CARD POPUP====*/
/*=========================*/

.overlay-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.overlay-container app-add-card {
  max-width: 80%;
  max-height: 80%;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
