<div class="about">
  <div class="about-content">
    <div class="about-image-div">
      <img
        class="about-image"
        src="https://images.unsplash.com/photo-1526726538690-5cbf956ae2fd?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="Image"
      />
    </div>
    <div class="about-text">
      <h1>Welcome to Versalo: Your Car Journey Begins Here!</h1>
      <p>
        Discover and drive your dream car or sell your old faithful on Versalo.
        Our platform connects buyers and sellers for a seamless car-shopping
        experience. Find the perfect ride or turn your wheels into cash –
        Versalo, where every car has a story, and yours is waiting to be
        written!
        <br /><br />
        Explore Versalo's marketplace for a diverse range of cars. From classics
        to daily drivers, find your ideal ride or list your car for sale
        effortlessly.
      </p>
      <div class="about-distination">
        <h2>Your new dream car is waiting for you.</h2>
        <a class="about-btn" routerLink="/cars">Explore Cars</a>
      </div>
    </div>
  </div>
</div>
