<div class="about">
  <div class="about-content">
    <div class="about-image-div">
      <img
        class="about-image"
        src="https://images.unsplash.com/photo-1526726538690-5cbf956ae2fd?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="Image"
      />
    </div>
    <div class="about-text">
      <h1>{{ "About_pg_t1" | translate }}</h1>
      <p>
        {{ "About_pg_t2" | translate }}
        <br /><br />
        {{ "About_pg_t3" | translate }}
      </p>
      <div class="about-distination">
        <h2>{{ "About_pg_t4" | translate }}</h2>
        <a class="about-btn" routerLink="/cars"
          >{{ "About_pg_t5" | translate }}f</a
        >
      </div>
    </div>
  </div>
</div>
