<div class="aboutPage_container">
  <div class="about_content">
    <div class="about_img_box"></div>
    <div class="about_content_box">
      <h1>Don’t squeeze in a sedan when you could relax in a van.</h1>
      <p>
        Our mission is to enliven your road trip with the perfect travel van
        rental. Our vans are recertified before each trip to ensure your travel
        plans can go off without a hitch.
      </p>
      <p>
        (Hitch costs extra 😉) Our team is full of vanlife enthusiasts who know
        firsthand the magic of touring the world on 4 wheels.
      </p>
    </div>
    <div class="about_button_box">
      <h2>Your destination is waiting. Your car is ready.</h2>
      <button routerLink="/profile">Search cars</button>
    </div>
  </div>
</div>
