<div *ngIf="carObj" class="car-card">
  <div class="card-image">
    <img ngSrc="{{ carObj.carImg }}" fill />
  </div>
  <div class="card-content">
    <div class="car-name">
      <h3 class="car-name">
        {{ carObj.carModel }} - {{ carObj.carSeries }}
        <span class="car-name-year">/ {{ carObj.carYear }} year</span>
      </h3>
      <span class="car-price"> {{ carObj.carPrice | currency : "USD" }} </span>
    </div>
    <div class="specifications">
      <div class="spec">
        <i class="fa-solid fa-car"></i>{{ carObj.carCategory }}
      </div>
      <div class="spec">
        <i class="fa-solid fa-car"></i>{{ carObj.gearBox }}
      </div>
      <div class="spec">
        <i class="fa-solid fa-car"></i>{{ carObj.carCategory }}
      </div>
      <div class="spec">
        <i class="fa-solid fa-car"></i>{{ carObj.carCategory }}
      </div>
    </div>
  </div>
</div>
