.car-card {
    background-color: white;
    width: 230px;
    height: 260px;
    color: rgb(16, 25, 62);
}

.card-image {
    background-color: rgb(182, 179, 179);
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
}

.car-card img {
    width: 100%;
    transition: 0.25s linear;
}

.car-card img:hover {
    transform: scale(1.1);
}

.car-name {
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.car-name-year {
    font-weight: 400;
}

.car-name-header {
    font-weight: 800;
}