<div *ngIf="carObj" class="car-card">
  <div routerLink="" class="card-image">
    <img ngSrc="{{ carObj.carImg }}" fill />
  </div>
  <div class="card-content">
    <div class="car-name">
      <h3 class="car-name">
        {{ carObj.carModel }} - {{ carObj.carSeries }}
        <span class="car-name-year">/ {{ carObj.carYear }} year</span>
      </h3>
      <span class="car-price"> {{ carObj.carPrice | currency : "USD" }} </span>
    </div>
    <div class="specifications">
      <div class="spec">
        <img class="icon" src="/assets/icons/car.svg" alt="category" />
        <span>
          {{ carObj.carCategory }}
        </span>
      </div>
      <div class="spec">
        <img class="icon" src="/assets/icons/gearbox.svg" alt="gearbox" />
        <span>
          {{ carObj.gearBox }}
        </span>
      </div>
      <div class="spec">
        <img class="icon" src="/assets/icons/color.svg" alt="gearbox" />
        <span>
          {{ carObj.carColor }}
        </span>
      </div>
      <div class="spec">
        <img class="icon" src="/assets/icons/wheel.svg" alt="wheel" />
        <span>
          {{ carObj.wheel }}
        </span>
      </div>
    </div>
  </div>
</div>
